 *,*::before,*::after {      
    box-sizing: border-box;
}
/* блочная модель в ширине и высоте будет учитывать рамки и внутрение отступы 
это необходимо для удобства верстки это применимо и ко всем псевдо элементам  */

:root {
  --font-family: "Manrope", sans-serif;
  --second-family: "Raleway", sans-serif;
}


html {
    height: 100%;
}


body {
font-family: "Manrope", sans-serif;
}

img {
    display: block;
}

 


.header {
max-width: 1440px;
min-width: 320px;
}

.header-container {
height: 73px;
 border: 1px solid #e5e9f2; 
padding-bottom: 15px;
width: 1110px;
 margin: 0 auto;  
 display: flex;
 align-items: center; 
}

.logo {
margin-right: 30px;
}

.nav {
display: flex;
align-items: center;
gap: 32px;
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;

color: #18191f;
 line-height: 1.4;
 text-decoration: none;
}




.nav-link {
font-family: var(--font-family);
font-weight: 700;
font-size: 14px;

color: #18191f;
 line-height: 1.4;
 text-decoration: none;
}

.nav-link:hover {
    opacity: 0.6;
    
}



.nav-link:last-child {
    
      margin-right: 0;  
}

.app-store {
margin-left: auto;
display: flex;
}



.appstore-item {
    margin-left: 12px;
}

.appstore-item:first-child {
    margin-left: 0;
}

.appstore-item:hover {
    opacity: 0.6;
    
}

/* main */

.main {
 width: 1110px; 
margin: 0 auto; 

 display: flex; 
padding-top: 218px;
padding-bottom: 200px; 
}


.main-content {   
font-size: 18px;
color: #18191F;
}

.main-header {
margin-top: -3px;
    margin-bottom: 3px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 72px;
    line-height: 136%;
    color: #18191f;

}


.main-text  { 
    width: 540px;
    margin-top: 14px;
margin-bottom: 33px;

font-family: var(--font-family);
font-weight: 400;
font-size: 18px;
    
    line-height: 1.78;
    color: #18191f;
} 

 .btns {
display: inline-block;
width: 284px;
height: 62px;
border-radius: 8px;
text-align: center;
background: #8C30F5;
 } 

.button {
 text-decoration: none;
font-weight: 700;
font-size: 20px;
line-height: 62px;
color: #fff;
}

.btns:hover {
    opacity: 0.7;
    
}

/* картинка */
.main-img {
   margin-top: -55px;
    margin-left: -10px;

}



/* footer */

.footer {
    
 height: 72px;
 
margin-top: -35px;

  display: flex;
 
 background: #0B0D17;
 color: #d9dbe1;
}

.footer-cotainer {
   
  display: flex;
     justify-content: space-between; 
    align-items: center;
    
}
  
.footer-copyright p {
    
 margin-left: 165px;  

font-weight: 400;
font-size: 14px;
line-height: 171%;
 color: #d9dbe1; 
}



.footer-socials {
display: flex;
padding-left: 652px; 

gap: 16px;
}



.footer-socials-item:hover {
    opacity: 0.6;
    
}